<div class="flex flex-wrap">
  <div class="w-full  px-4">
    <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 mt-6 shadow-lg rounded-lg bg-sky-100 border-0"
>
  <div class="rounded bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-center">
      <img src="../../../assets/logo.jpeg" alt="" class="w-44">

    </div>
  </div>

</div>

  </div>

</div>
<div class="flex flex-wrap">
  <div class="w-full  px-4">
    <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-sky-100 border-0"
>
  <div *ngIf="!enviado" class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-sky-700 text-xl font-bold">Gabarito</h6>

    </div>
  </div>
  <div *ngIf="!enviado" class="flex-auto px-4 lg:px-10 py-10 pt-0">
    <form [formGroup]="form">
      <h6 class="text-sky-400 text-sm mt-3 mb-6 font-bold uppercase">
        Identificação
      </h6>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-sky-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              CPF
            </label>
            <input
              type="text"
              class="border-0 px-3 py-3 placeholder-sky-300 text-sky-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              formControlName="cpf"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-sky-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Nome
            </label>
            <input
              type="email"
              class="border-0 px-3 py-3 placeholder-sky-300 text-sky-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              formControlName="nome"
            />
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">


        </div>

      </div>

      <hr class="mt-6 border-b-1 border-sky-300" />

      <h6 class="text-sky-400 text-sm mt-3 mb-6 font-bold uppercase">
        Respostas
      </h6>
      <div formGroupName="questoes">
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative flex w-full mb-3">
          <label
            class="block uppercase self-center text-sky-600 text-xs font-bold me-4 "
            htmlFor="grid-password"
          >
            1.
          </label>
          <mat-radio-group formControlName="1" labelPosition="before" aria-label="Select an option">
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
            <mat-radio-button value="E">E</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="relative flex w-full mb-3">
          <label
            class="block uppercase self-center text-sky-600 text-xs font-bold me-4"
            htmlFor="grid-password"
          >
            2.
          </label>
          <mat-radio-group formControlName="2" labelPosition="before" aria-label="Select an option">
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
            <mat-radio-button value="E">E</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="relative flex w-full mb-3">
          <label
            class="block uppercase self-center text-sky-600 text-xs font-bold me-4"
            htmlFor="grid-password"
          >
            3.
          </label>
          <mat-radio-group formControlName="3" labelPosition="before" aria-label="Select an option">
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
            <mat-radio-button value="E">E</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="relative flex w-full mb-3">
          <label
            class="block uppercase self-center text-sky-600 text-xs font-bold me-4"
            htmlFor="grid-password"
          >
            4.
          </label>
          <mat-radio-group formControlName="4" labelPosition="before" aria-label="Select an option">
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
            <mat-radio-button value="E">E</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="relative flex w-full mb-3">
          <label
            class="block uppercase self-center text-sky-600 text-xs font-bold me-4"
            htmlFor="grid-password"
          >
            5.
          </label>
          <mat-radio-group formControlName="5" labelPosition="before" aria-label="Select an option">
            <mat-radio-button  value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
            <mat-radio-button value="E">E</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>
    </div>
      <hr class="mt-6 border-b-1 border-sky-300" />
      <button
        class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button"
        (click)="enviar()"
      >
        enviar
      </button>



    </form>
  </div>

  <div *ngIf="enviado">
    <div class="bg-green-400 rounded-lg grid justify-center">
      <h1 class="text-6xl text-center my-5 text-white">GABARITO ENVIADO</h1>
      <h3 class="text-3xl text-center my-5 text-white">você fez {{pontos}} pontos</h3>
    </div>
  </div>
</div>

  </div>

</div>
