<h1 mat-dialog-title>Hi</h1>

<div class="mt-6">
  <table class="w-full">
    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Questões</th>
        <th class="border px-4 py-2">Português</th>
        <th class="border px-4 py-2">Matemática</th>
        <th class="border px-4 py-2">Física</th>
        <th class="border px-4 py-2">História</th>
        <th class="border px-4 py-2">Química</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">1</td>
        <td class="border px-4 py-2">A</td>
        <td class="border px-4 py-2">A</td>
        <td class="border px-4 py-2">A</td>
        <td class="border px-4 py-2">A</td>
        <td class="border px-4 py-2">A</td>
      </tr>

      <tr>
        <td class="border px-4 py-2">2</td>
        <td class="border px-4 py-2">B</td>
        <td class="border px-4 py-2">B</td>
        <td class="border px-4 py-2">B</td>
        <td class="border px-4 py-2">B</td>
        <td class="border px-4 py-2">B</td>
      </tr>

      <tr>
        <td class="border px-4 py-2">3</td>
        <td class="border px-4 py-2">C</td>
        <td class="border px-4 py-2">C</td>
        <td class="border px-4 py-2">C</td>
        <td class="border px-4 py-2">C</td>
        <td class="border px-4 py-2">C</td>
      </tr>
    </tbody>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Fechar</button>
</div>
