<div class="mt-6 gap-10 w-full px-4 py-2 rounded-lg h-screen">
  <table class="w-full">
    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Língua Portuguesa</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">1 - C</td>
        <td class="border px-4 py-2">2 - D</td>
        <td class="border px-4 py-2">3 - C</td>
        <td class="border px-4 py-2">4 - E</td>
        <td class="border px-4 py-2">5 - A</td>
        <td class="border px-4 py-2">6 - D</td>
        <td class="border px-4 py-2">7 - B</td>
        <td class="border px-4 py-2">8 - A</td>
        <td class="border px-4 py-2">9 - B</td>
        <td class="border px-4 py-2">10 - A</td>
        <td class="border px-4 py-2">1 1- C</td>
        <td class="border px-4 py-2">12 - B</td>
        <td class="border px-4 py-2">13 - C</td>
        <td class="border px-4 py-2">14 - B</td>
        <td class="border px-4 py-2">15 - A</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Noções de Informática</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">16 - A</td>
        <td class="border px-4 py-2">17 - C</td>
        <td class="border px-4 py-2">18 - ANULADA</td>
        <td class="border px-4 py-2">19 - C</td>
        <td class="border px-4 py-2">20 - B</td>
        <td class="border px-4 py-2">21 - A</td>
        <td class="border px-4 py-2">22 - D</td>
        <td class="border px-4 py-2">23 - REPETIDA</td>
        <td class="border px-4 py-2">24 - REPETIDA</td>
        <td class="border px-4 py-2">25 - D</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Noções de Raciocínio Lógico</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">26 - D</td>
        <td class="border px-4 py-2">27 - B</td>
        <td class="border px-4 py-2">28 - D</td>
        <td class="border px-4 py-2">29 - E</td>
        <td class="border px-4 py-2">30 - B</td>
        <td class="border px-4 py-2">31 - D</td>
        <td class="border px-4 py-2">32 - C</td>
        <td class="border px-4 py-2">33 - A</td>
        <td class="border px-4 py-2">34 - A</td>
        <td class="border px-4 py-2">35 - A</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">História da Paraíba</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">36 - C</td>
        <td class="border px-4 py-2">37 -C</td>
        <td class="border px-4 py-2">38 - B</td>
        <td class="border px-4 py-2">39 - A</td>
        <td class="border px-4 py-2">40 - B</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Geografia da Paraíba</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">41 - D</td>
        <td class="border px-4 py-2">42 - B</td>
        <td class="border px-4 py-2">43 - D</td>
        <td class="border px-4 py-2">44 - C</td>
        <td class="border px-4 py-2">45 - D</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Direito Penal - Parte Geral</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">46 - D</td>
        <td class="border px-4 py-2">47 - C</td>
        <td class="border px-4 py-2">48 - E</td>
        <td class="border px-4 py-2">44 - C</td>
        <td class="border px-4 py-2">49 - A</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Direito Processual Penal</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">50 - D</td>
        <td class="border px-4 py-2">51 - C</td>
        <td class="border px-4 py-2">52 - D</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Noções de Direito Militar</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">53 - C</td>
        <td class="border px-4 py-2">54 - A</td>
        <td class="border px-4 py-2">55 - B</td>
        <td class="border px-4 py-2">56 - C</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Noções de Sociologia</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">57 - D</td>
        <td class="border px-4 py-2">58 - D</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Noções de Direito Constitucional</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">59 - B</td>
        <td class="border px-4 py-2">60- D</td>
        <td class="border px-4 py-2">61 - C</td>
        <td class="border px-4 py-2">62 - C</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">
          Noções de Direito Penal - Parte Especial
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">63 - C</td>
        <td class="border px-4 py-2">64 - D</td>
        <td class="border px-4 py-2">65 - E</td>
        <td class="border px-4 py-2">66 - D</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Noções de Legislação Penal Especial</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">67 - E</td>
        <td class="border px-4 py-2">68 - A</td>
        <td class="border px-4 py-2">70 - A</td>
        <td class="border px-4 py-2">71- D</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Língua Estrangeira - Inglês</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">72 - A</td>
        <td class="border px-4 py-2">73 - B</td>
        <td class="border px-4 py-2">74 - C</td>
        <td class="border px-4 py-2">75 - C</td>
        <td class="border px-4 py-2">76 - B</td>
        <td class="border px-4 py-2">77 - B</td>
        <td class="border px-4 py-2">78 - E</td>
        <td class="border px-4 py-2">79 - A</td>
        <td class="border px-4 py-2">80 - C</td>
        <td class="border px-4 py-2">81- A</td>
      </tr>
    </tbody>

    <thead class="bg-sky-100">
      <tr>
        <th class="border px-4 py-2">Língua Estrangeira - Espanhol</th>
      </tr>
    </thead>

    <tbody>
      <tr class="flex">
        <td class="border px-4 py-2">72 - A</td>
        <td class="border px-4 py-2">73 - A</td>
        <td class="border px-4 py-2">74 - A</td>
        <td class="border px-4 py-2">75 - C</td>
        <td class="border px-4 py-2">76 - A</td>
        <td class="border px-4 py-2">77 - D</td>
        <td class="border px-4 py-2">78 - D</td>
        <td class="border px-4 py-2">79 - A</td>
        <td class="border px-4 py-2">80 - C</td>
        <td class="border px-4 py-2">81- B</td>
      </tr>
    </tbody>
  </table>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Fechar</button>
  </div>
</div>
